{% extends 'layout.html' %}

{% block body %}

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        background: #fff;
        -webkit-box-shadow: 5px 6px 24px -7px rgba(66, 68, 90, 1);
        -moz-box-shadow: 5px 6px 24px -7px rgba(66, 68, 90, 1);
        box-shadow: 5px 6px 24px -7px rgba(66, 68, 90, 1);
    }

    #data {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }

    button,
    input[type="submit"] {
    background: white;
    border-style: outset;
    border-color: crimson;
    border-width: 3px;
    }

    button:hover,
    input[type="submit"]:hover {

        letter-spacing: 1px;
        font-size: 15px;
        border-radius: 50px;

    }

    a {
        text-decoration: none;
        color: black;
    }

</style>


<div class="container">
<h2>System rezerwacji sal</h2>

<form>
    <label id="data" for="check_day">Wybierz date</label>
    <input type="date" min="{{str_date}}" id="check_day" name="check_date">
    <input type="submit" value="Szukaj">
</form>


<br>
<br>


{% if selected_date %}
<h2>{{ selected_date }}</h2>
{% endif %}

<table border="5" cellpadding="5" bordercolor="crimson">

    <tr bgcolor="lightgray">
    <th>Nazwa Sali</th>
        {% if selected_date %}
        <th>Dostepnosc</th>
        {% endif %}
        <th>Rezerwacje</th>
    </tr>

    {% for room in rooms %}
    <tr>
        <td><a href="/room/{{ room.pk }}">{{ room.name }}</a></td>
        {% if selected_date %}
            {% if room.reserved %}

            <td bgcolor="red">Zarezerwowane</td>
            {% else %}
            <td bgcolor="lightgreen" >Wolne</td>

            {% endif %}
        {% endif %}
        <td align="center"><button><a href="/room/{{ room.pk }}">Sprawdz</a></button></td>
    </tr>
    {% endfor %}

</table>
<br>
<button><a href="/room/new/">Dodaj sale</a></button>
</div>

{% endblock %}